// TODO change the color of the footer to the one bellow
.footer {
    padding-bottom: 5rem;
    background-color: #16103a !important;
    position: relative !important;
    top: 100%;
    margin-top: 7rem !important;
}
