/* ++++++++++++++++++++++header++++++++++++++++++++++++++ */
header {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 3.5rem;
    position: sticky;
    top: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;    
    z-index: 100;
    /* outline: dashed red; */
}
.logo{
    transform: translateX(-50%);
}
header figure {margin-left: 50px}
.header-btn {
    background-color: #3687E8;
    width: 110px;
    height: 50px;
    border-radius: .5rem;
    border: none;
    font-size: 1.2rem;
    color: #ffffff;
}
.header-btn:hover {
    cursor: pointer;
}
.nav-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* outline: dashed red; */
    height: inherit;
}
ul{display: flex;flex-direction: row;}
.nav--top--center li {margin-left: 40px;display: flex;align-items: center;}
.nav--top--center ul li a span {
    text-align: center;
}
.nav--top--right {min-width: 10%;/* outline: dashed orange; */}
.nav--top--right li {margin-right: 30px;/* outline: dashed red ; */}
.contact-container {
  
    width: 100%;
    height: fit-content;
    display: none;
    justify-content: flex-end;
  padding-right:1.0rem;
  padding-top:.7rem;
  
  
}
.menu_cont {
    display: none;
}
.ms1{
    transition: all .1s ease;
    /* transform: rotate(45deg); */
}
.ms1{
    transform: rotate(45deg);
}
.ms2{
    transition: all .1s ease;
}
.ms2{
    opacity: 0;
}
.ms3 {
    transition: all .1s ease;
} 
.ms3 {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
} 
/* +++++++++++++++++++++++++++ */
.ms1-flip{
    transition: all .1s ease;
    /* transform: rotate(45deg); */
}
.ms1-flip{
    transform: rotate(0deg);
}
.ms2-flip{
    transition: all .1s ease;
}
.ms2-flip{
    opacity: 100%;
}
.ms3-flip {
    transition: all .1s ease;
} 
.ms3-flip {
    transform: rotate(0deg);
    position: relative;
    top: 0px;
} 
#message-text {
    resize: none;
}
.modal-footer{
    display: flex;
    justify-content: center;
    .cover-letter {
        color: #ffffff;
    }
    .cover-letter:hover {
        color: #ffffff;
        transform: none;
    }
}


/* End of media max-width 820px */
