.title-projects {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-projects h1 {
    text-align: center;
}
.project-wrapper{
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  p{
    font-size: .9rem;
    width: 250px;

  }
}
.project-area {
    margin-top: 2rem;
    min-height: 500px;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
@keyframes fra {
  0% {background-size: 190%;}
  100%{background-size: 100%;}
}


.project {
  width: 295px;
  height: 295px;
  background-color: transparent;
  border-radius: 1rem;
    // outline: dashed red;
}
.prj2 {
    background-image: url("img/movie-app.png");
    background-position: center;
    background-size: 190%;
    background-repeat: no-repeat;
    transition: all .5s ease;
}
.prj2:hover{
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fra .5s ease  ;
}
.prj3 {
    background-image: url("img/Screen Shot 2023-01-02 at 7.20.08 PM.png");
    background-position: center;
    background-size: 190%;
    background-repeat: no-repeat;
    transition: all .5s ease;
}
.prj3:hover{
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fra .5s ease  ;
}
.prj1 {
    background-image: url("img/Screen Shot 2023-01-02 at 7.14.32 PM.png");
    background-position: center;
    background-size: 190%;
    background-repeat: no-repeat;
    transition: all .5s ease;
}
.prj1:hover{
  background-size: 100%;
  background-repeat: no-repeat;
  animation: fra .5s ease  ;
}


.my-story-wrapper{
  margin-top:2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
}
.my-story-title {
  
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-story {
  margin-top: 20px;
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.story-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  div a {
    color: #ffffff;
  }
}
.story-wrapper:nth-child(2){
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
}
.story-wrapper:nth-child(4) {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
}
.story-wrapper:nth-child(6) {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
}
.story {
  width: 400px;
  height: 200px;
display: flex;
padding-left: 20px;
padding-right: 20px;
font-size: 20px;
}