.algo-main{

    width: 100%;
    min-height: 100vh;
    padding-top: calc(72px + 3rem);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
body.algo{
    background-color: #dee1e6;
}