
.algo-main {
    position: relative !important;
    width: 100%;
    min-height: fit-content;
    top: calc(72px + 1rem);
    display: grid;
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 0.1fr .1fr 1fr;    
    grid-template-areas:
        "title title"
        "content1 content1"
        "content2 content2";
    // outline: red dashed;
}

body.algo {
    background-color: #dee1e6;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}
main.algo-main {
    min-height: fit-content;}

.offcanvas-mini {
    width: 100px;
}

.table-of-content {
    top: calc(72px + 1rem);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: .5rem;
}
.table-of-content-btn {
    background-color: #3687E8;
    padding: .3rem;
    position: fixed;
    top: calc(3.5rem + .4rem);
    border-radius: .5rem ;
    left: 2.4rem;
    ion-icon {
        margin-top: 2px;
        transform: rotate(90deg);
        font-size: 36px;

    }
}

.algo-title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        // font-size: 1rem;
        font-weight: bold;
    }
}

.content1 {
    grid-area: content1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .cover-letter:hover{
        transform: translateY(-20%);
        // transition: none !important;
    }
}
.blu{
    background: hsla(213, 80%, 57%, 1);
    background: -webkit-linear-gradient(180deg, hsla(213, 80%, 57%, 1) 0%, hsla(212, 74%, 73%, 1) 100%);
    span {
        a{
            color: #ffffff !important;
        }
    }
   
}
.paper{
    border-radius: .5rem;
    background-color: #ffffff !important;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    width: 90%;
    max-width: 800px;
    height: fit-content;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    p{
        span{
            a{
                color: black;
                text-decoration: underline;
            }
        }
    }
}
.content2 {
    grid-area: content2;
}

.offcanvas, .offcanvas-lg, 
.offcanvas-md, .offcanvas-sm, 
.offcanvas-xl, .offcanvas-xxl {
    --bs-offcanvas-padding-y: .5rem;
}

.offcanvas.offcanvas-top {
    border-radius: .5rem;
    width: 150px !important;
    top: calc(3.5rem + 4px);
    right: 0;
    left: 0;
    .offcanvas-body{
        // padding-top: 0rem !important;
        display: flex !important;
        justify-content: start !important;
        gap: 10px;
        align-items: center !important;
        flex-direction: column !important;
        border-bottom: 0;
    }
}
.offcanvas-body {
    flex-grow: 1;
    padding: 0 !important;
    // padding-top: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    overflow-y: auto;
}

.offcanvas.offcanvas-top {
    height: 320px;
    max-height: 100%;
    border-bottom: solid 0 !important;
    transform: translateY(-100%);
}